@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;500;700&display=swap');

body { 
    font-family: 'Play', sans-serif;
    font-weight:bold;
    margin: 0;
    padding: 0; 
}
#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
    transition: margin-left 300ms ease-in-out;
}

.marker {
    background-color: #ff4757;
    color: #ffffff;
    border-radius: 50%;
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.marker:hover {
    background-color: #f28585;
}


button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.fa-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
}

.side-panel {
    background: linear-gradient(135deg, #1c1ebf, #a4e3f4);
    box-shadow: 5px 0 15px rgba(0,0,0,0.2);
    overflow-y: auto; 
    z-index: 10; 
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 22%;
    min-width:365px;
    transform: translateX(-100%);
    border-right: 2px solid #fff;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#content_container {
    height: 50%;
    overflow: auto;
}

#add_info_header{
    text-align:center;
    width:100%;
    padding-bottom:10px;
    font-weight:bold;
    font-size:30px;
}

#add_info_buttons{
    height: 10%; 
    overflow: auto;
}

#add_info_container{
    margin-top:10px;
    height:35%;
    overflow:auto;
    background-color:gray
}

.side-panel-column {
   position:absolute;
   left:24%;
   top:10px;
}

.side-panel ul li {
    margin-bottom: 40px;
}

#add_info_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 10px; /* Adjust the space between the buttons */
    justify-content: center; /* Center flex items horizontally */
    margin: 0 auto; /* Center the container itself */
    width: fit-content;
}

.info_button {
    width: 30%; /* Set a fixed width for all buttons */
    height: 50px; /* Adjust the height as needed */
    background-color: #2011fa; /* Example background color */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:0.9em;
    cursor:pointer;border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Depth effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.info_button:hover {
    transform: translateY(-2px); /* Slight lift effect on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Increased shadow on hover */
    background-color: #2d96d7; /* Example background color */
}

.info_button:active {
    transform: translateY(4px); /* Move the button down to mimic a press effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduce the shadow to enhance the pressed effect */
    background-color: #1e0fd1; /* Darken the background color to indicate active state */
}

.marker-button {
    max-width: 250px;
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 5px;
    margin-bottom:10px;
    cursor: pointer;
    font-size: 16px;
    background-color: #ff4757;
    padding: 12px;
    font-weight: bold;
    overflow: hidden;
    text-wrap: nowrap;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.marker-button:hover {
    background-color: #f28585; 
    transform: translateY(-2px); /* Slight lift effect on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Increased shadow on hover */
}

.marker-button:active {
    transform: translateY(4px); /* Move the button down to mimic a press effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduce the shadow to enhance the pressed effect */
    background-color: #7a1111; /* Darken the background color to indicate active state */
}

#loadingIndicator {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#loadingIndicator span {
    display: block;
    margin-top: 10px;
    color: #333;
    font-size: 16px;
}

.fas.fa-spinner.fa-spin {
    color: #007bff;
    font-size: 24px;
}