    <div id="content_container">
        <div id="loc_video"></div>
        <div id="add_info_container">
            <div id="add_info_header">Additional Information</div>
            <div id="add_info_buttons">
                <button class="info_button" onclick="addInfo('history')">History</button>
                <button class="info_button" onclick="addInfo('culture')">Culture</button>
                <button class="info_button" onclick="addInfo('geography')">Geography</button>
                <button class="info_button" onclick="addInfo('economy')">Economy</button>
                <button class="info_button" onclick="addInfo('climate')">Climate</button>
                <button class="info_button" onclick="addInfo('wildlife')">Wildlife</button>
            </div>
        </div>
    </div> 