<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1,width=device-width">
        
        <title>EarthSearch.AI</title>
        <link rel="icon" href="{{ url_for('static', filename='logo.jpg') }}" type="image/x-icon">

        <link href="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css" rel="stylesheet">

        <script src="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

        <script>
            const mapboxAccessToken = "{{ mapbox_access_token }}";
        </script>
    </head>

    <body>
        <div id="map"></div>
        
        <div id="app_title">
            <img id="logo" src="{{ url_for('static', filename='logo_large.jpg') }}" alt="EarthSearch.ai Logo" >
            EarthSearch.ai
        </div>

        <div id="map_rotate_btns">
            <button id="playButton" class="map_rotate_btn" title="Start Globe Rotation" disabled>
                <i class="fas fa-play"></i>
            </button>
            <button id="pauseButton" class="map_rotate_btn" title="Pause Globe Rotation" enabled>
                <i class="fas fa-pause"></i>
            </button>
            <button id="randomButton" class="map_rotate_btn" title="Show Random Location" enabled>
                <i class="fas fa-random"></i>
            </button>
        </div>
    
        <div id="side-panel" class="side-panel">
            
            <div id="content_container"></div>
            <div id="openai_citation" class="api_citation">
                    <i class="fas fa-exclamation-circle"></i>
                    Results generated via OpenAI API. Results may vary.
            </div>
            <div id="loc_video"></div>
            <div id="youtube_citation" class="api_citation">
                <i class="fas fa-exclamation-circle"></i>
                Video sourced via Youtube API. Results may vary.
            </div>
        </div>

        <div id="right_panel">
            <div class="input_icon">
                <i class="fas fa-search"></i>
                <input type="text" id="location_search" placeholder="Search for a location...">
            </div>

            <div class="locaton_history"></div>
        </div>
    
        <div id="loadingIndicator" style="display:none">
            <i class="fas fa-spinner fa-spin"></i>
            <span>Loading...</span>
        </div>



        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>